/* @tailwind base;
@tailwind components;
@tailwind utilities; */

html {
    width: 100%;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", "Geneva", "Verdana", "sans-serif";
}

p {
    font-size: smaller;
}

h1 {
    font-size: large;
}

h2 {
    font-size: medium;
}

h3 {
    font-size: small;
    font-weight: 600;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid red;
}

.logoContainer {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
}

.logoContainer > a > img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.logoContainer > img,
p {
    padding-left: 30px;
}

.navMenu > ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: flex-start;
}

.navMenu > ul > a {
    font-size: 1.5rem;
    margin-right: 30px;
    text-decoration: none;
    color: black;
}

.navMenu > ul > a:hover {
    text-decoration: underline;
    text-shadow: 0.3em 0.3em 1em rgba(200, 0, 0, 0.724);
}

.searchContainer {
    display: flex;
    justify-content: start;
    width: auto;
    height: 24px;
    margin: 2%;
}

.searchContainer > input,
button {
    margin-right: 5px;
}

.restaurantContainer {
    width: 75%;
    margin: auto;
    /* border: 1px solid black; */
}

.restaurantCardsContainer {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    margin: auto;
}

.restaurantCardsContainer > a {
    margin: 1%;
    color: black;
    text-decoration: none;
}

.restaurantCard {
    /* border: 1px solid red; */
    box-shadow: inset 0 -3em 3em rgb(0 200 0 / 30%), 0 0 0 2px white;
    border-radius: 5%;
    width: 200px;
    height: 350px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: start;
}

.restaurantCard:hover {
    transition: all 0.05s ease 0s;
    cursor: pointer;
    border: none;
    box-shadow: inset 0 -3em 3em rgb(0 200 0 / 30%), 0 0 0 2px white,
        0.3em 0.3em 1em rgb(200 0 0 / 60%);
}

.restaurantCard > img {
    width: 100%;
    height: 60%;
    border-radius: 5%;
    object-fit: cover;
    border-style: none;
}

.restaurantDescription > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    font-size: 1rem;
}

.restaurantDescription > ul > li {
    margin: 1%;
}

.shimmerCards {
    display: flex;
    flex-wrap: wrap;
}

.shimmerCard {
    width: 200px;
    height: 350px;
    box-shadow: inset 0 -3em 3em rgb(0 200 0 / 30%), 0 0 0 2px white;
    border-radius: 5%;
    padding: 0;
    margin: 1%;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: start;
}

.shimmerImg {
    width: 100%;
    height: 60%;
    border-radius: 5%;
    object-fit: cover;
    border-style: none;
    background-color: #f0f0f0;
}

.shimmerDescription > h1 {
    width: 40%;
    height: 14px;
    background-color: #f0f0f0;
}

.shimmerDescription > p {
    width: 80%;
    height: 12px;
    background-color: #f0f0f0;
}

.footerContainer {
    border: 1px solid red;
}

.resMenuPage {
    width: 50%;
    margin: auto;
    /* border: 1px solid black; */
    scrollbar-width: 2px;
}

.restaurantInfoContainer {
    /* border: 1px solid blue; */
    margin: auto;
}

.resInfoCard {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin: 10px 0;
}

.resInfoHeading {
    font-size: 1.5rem;
    font-weight: 900;
    color: rgb(69, 68, 68);
    margin: 10px 0;
}

.resInfoDescription {
    /* border: 1px solid red; */
}

.resInfoName {
    font-size: 1 rem;
    font-weight: 600;
    color: rgb(69, 68, 68);
}

.resInfoCuisines,
.resInfoAddress {
    color: rgb(69, 68, 68);
    font-size: smaller;
}

.resInfoRatingCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid grey;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

.resInfoDelivery > ul {
    list-style: none;
    display: flex;
    font-size: smaller;
}

.restaurantInfoContainer > hr {
    height: 2px;
    background-color: goldenrod;
}

.restaurantOffersContainer {
    /* border: 1px solid blue; */
}
.menuContainer {
    /* border: 1px solid blue; */
}

.itemCategoryCard {
    /* border: 1px solid rgb(228, 243, 23); */
    margin: 5px auto;
}

.itemCategoryCard > hr {
    background-color: rgb(185, 180, 180);
    height: 5px;
}

.itemCategoryTitle {
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    font-size: large;
    padding: 5px 5px;
    color: rgb(43, 42, 42);
    cursor: pointer;
    background-color: rgba(243, 235, 235, 0.308);
    border-radius: 10px;
}

.itemSubCategoryContainer > div {
}

.dishCardContainer {
    display: flex;
    justify-content: space-between;
    padding: 20px 5px;
    margin: 0;
    min-height: 160px;
    border-bottom: 1px solid goldenrod;
}

.dishDescription {
    /* border: 1px solid yellow; */
    margin: 0;
    padding: 0;
    width: 70%;
}

.dishDescription > div,
h3,
p {
    margin: 0;
    padding: 0 15px 2px 0;
}

.dishImage {
    margin: 0;
    max-width: 30%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    /* border: 2px solid green; */
}

.dishImage > img {
    border-radius: 10px;
    max-width: 100%;
    max-height: 90%;
    align-content: end;
}

.dishImage > button {
    position: relative;
    left: 30%;
    bottom: 30px;
    width: 40%;
    padding: 5px;
    border-radius: 5px;
    z-index: 1000;
}

.dishImage > button:hover {
    cursor: pointer;
    border: 2px solid goldenrod;
    border-color: goldenrod;
    font-weight: 800;
    box-shadow: 0px 5px rgba(221, 105, 15, 0.767);
}

.cartItemContainer {
    border: 1px solid goldenrod;
    width: 50%;
    margin: auto;
}

.cartItemCard {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    font-size: smaller;
    border: 1px solid grey;
    padding: 3px 0;
}

.cartItemCard > div {
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

.itemCounter {
    border: 2px solid grey;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    padding: 2px;
    font-weight: bold;
    height: 2rem;
    background-color: azure;
    font-size: large;
    width: 100px;
}

.itemCounter > button {
    border: none;
    background-color: azure;
    cursor: pointer;
}

.itemCounter > h3 {
    align-self: center;
}
